/* want to do sepicifc style for each blog */
.link-ds{
	color: var(--col1);
	text-decoration: none;
	transition: all 0.4s;
}
.link-ds:hover{
	color: var(--col2);
	text-decoration: underline;
	text-decoration-color: currentColor;
	cursor: pointer;
}
/* can add different style links for other blogs */