@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic');
/* may pitch error later */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css');

/* can get rid of later */
:root {
    --col1: #5e080e;
    --col2: #EEB4B3;
    --font1: 'Space Mono';
    --font2: 'Buda';
    --font3: 'Raleway';
    --font4: 'Passion One';
  
    --flag_col: green;
    --flag_tcol: white;
    
}

body {	
  margin: 0;
  padding: 0;
  background: rgb(230,230,230);
  color: rgb(50,50,50);
  font-family: 'Open Sans', sans-serif;
  font-size: 112.5%;
  line-height: 1.6em;
  z-index: -1;
}
.logo{
	text-align: left;
	color: var(--text_color);
  font-size: 1.8em;
	font-weight: var(--chalk_weight);
	font-family: var(--chalk_font);
  padding: 50px;
  margin-bottom: 100px;
}
input {
  font-weight: var(--chalk_weight);
  color: var(--text_color);
  font: var(--chalk_font);
  float: right;
  width: 23%; /* Full-width */
  font-size: .8em;
  padding: 15px 15px 15px 15px; /* Add some padding */
  background: transparent;
  outline: dotted;
}
a{
  color: inherit;
  text-decoration: none;
}
/* ================ The Timeline ================ */

.timeline {
  position: relative;
  width: 660px;
  margin: 0 auto;
  padding: 1em 0;
  list-style-type: none;
}

.timeline:before {
  opacity: .2;
  position: absolute;
  left: 50%;
  top: 0;
  content: ' ';
  display: block;
  width: 40px;
  height: 100%;
  margin-left: -20px;
  background: gray;
}

.timeline li {
  padding: 1em 0;
}

.timeline li:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.direction-l {
  position: relative;
  width: 300px;
  float: left;
  text-align: right;
}

.direction-r {
  position: relative;
  width: 300px;
  float: right;
}

.flag-wrapper {
  position: relative;
  display: inline-block;
  text-align: center;
}

.flag {
  position: relative;
  display: inline;
  background: var(--flag_col);
  color: var(--flag_tcol);
  padding: 6px 10px;
  border-radius: 5px;
  font-weight: 600;
  text-align: left;
}

/* change genre colors 
[rap]{background: var(--rap_col);
      color: var(--rap_tcol);}
[rnb]{background: var(--rnb_col);
      color: var(--rnb_tcol);}
[rock]{background: var(--rock_col);
      color: var(--rock_tcol);}
[classic]{background: var(--classic_col);
      color: var(--classic_tcol);}
[indie]{background: var(--indie_col);
      color: var(--indie_tcol);} */

.direction-l .flag {
  -webkit-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.direction-r .flag {
  -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.direction-l .flag:before,
.direction-r .flag:before {
  position: absolute;
  top: 50%;
  width: 40px; 
  height: 40px;
  margin-top: -20px;
  display: block;
  z-index: 100;
  background-size:100%;
  content:"";
}
.direction-l .flag:before{right: -50px;}
.direction-r .flag:before{left: -50px;}

/* can use icons here */
.flag.rap:before{
  background-image: url("../pictures/blogs/rap.png");}
.flag.rnb:before{
  background-image: url("../pictures/blogs/rnb.png");}
.flag.rock:before{
  background-image: url("../pictures/blogs/rock.png");}
.flag.classic:before{
  background-image: url("../pictures/blogs/classic.png");}
.flag.indie:before{
  background-image: url("../pictures/blogs/indie.png");}

.time-wrapper {
  display: inline;
  line-height: 1em;
  font-size: 0.66666em;
  color: var(--date_col);
  vertical-align: middle;
}

.direction-l .time-wrapper {
  float: left;
}

.direction-r .time-wrapper {
  float: right;
}

.time {
  display: inline-block;
  padding: 4px 6px;
  background: rgb(248,248,248);
}

.desc {
  margin: 1em 0.75em 0 0;
  
  font-size: 0.77777em;
  font-style: italic;
  line-height: 1.5em;
}

.direction-r .desc {
  margin: 1em 0 0 0.75em;
}

/* ================ Timeline Media Queries ================ */

@media screen and (max-width: 660px) {

.timeline {
 	width: 100%;
	padding: 4em 0 1em 0;
}

.timeline li {
	padding: 2em 0;
}

.direction-l,
.direction-r {
	float: none;
	width: 100%;

	text-align: center;
}

.flag-wrapper {
	text-align: center;
}

.flag {
	background: rgb(255,255,255);
	z-index: 15;
}

.direction-l .flag:before,
.direction-r .flag:before {
  position: absolute;
  top: -30px;
	left: 50%;
	content: ' ';
	display: block;
	width: 12px;
	height: 12px;
	margin-left: -9px;
	background: #fff;
	border-radius: 10px;
	border: 4px solid rgb(255,80,80);
	z-index: 10;
}

.direction-l .flag:after,
.direction-r .flag:after {
	content: "";
	position: absolute;
	left: 50%;
	top: -8px;
	height: 0;
	width: 0;
	margin-left: -8px;
	border: solid transparent;
	border-bottom-color: rgb(255,255,255);
	border-width: 8px;
	pointer-events: none;
}

.time-wrapper {
	display: block;
	position: relative;
	margin: 4px 0 0 0;
	z-index: 14;
}

.direction-l .time-wrapper {
	float: none;
}

.direction-r .time-wrapper {
	float: none;
}

.desc {
	position: relative;
	margin: 1em 0 0 0;
	padding: 1em;
	background: rgb(245,245,245);
	-webkit-box-shadow: 0 0 1px rgba(0,0,0,0.20);
	-moz-box-shadow: 0 0 1px rgba(0,0,0,0.20);
	box-shadow: 0 0 1px rgba(0,0,0,0.20);
	
  z-index: 15;
}

.direction-l .desc,
.direction-r .desc {
	position: relative;
	margin: 1em 1em 0 1em;
	padding: 1em;
	
  z-index: 15;
}

}

@media screen and (min-width: 400px ?? max-width: 660px) {

.direction-l .desc,
.direction-r .desc {
	margin: 1em 4em 0 4em;
}

}
