@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great');

:root {
	--chalk_font: 'Fredericka the Great';
    --text_color: #222;
    --bg_color: #71A9F7;
    --log_bg: #000000;
    --but_color: #009ACD;
    --but_hov_color: #005c7b;
    --logo_text_color: #efefef;
    --art_text_link: var(--col1);
    --art_text_hover: var(--col3);
    --post_bg: #fff;
    --date_color: #9C9C9C;
    --post_line_color: #C6D8FF;
    --font_weight: 50;
}
body{
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 1.4em;
	background-image: url("../pictures/blogs/chalkboard.jpg");
	background-size:cover;
	color: var(--logo_text_color);
	font-family: var(--chalk_font);
	font-weight: var(--chalk_weight);
}
/* Base Styles */
img{
	max-width: 100%;
	height: auto;
	border-radius: 3px;
}
a{
	text-decoration: none;
	color: inherit;
}
/* Grid */
.section {
	clear: both;
	padding: 0;
	margin: 0;
}
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

.span_3_of_3 {
	width: 105%;
}
/* making this invisible basically */
.logo{
	text-align: center;
	color: var(--logo_text_color);
  	font-size: 3.55vw;
	font-weight: var(--chalk_weight);
	font-family: var(--chalk_font);
  	padding: 90px;
}
/* Blog Posts */
.container{
	max-width: 1020px;
}
.blog-post{
	font-weight: var(--chalk_weight);
	margin: 0 auto 2em auto;
}
.blog-content{
	font-weight: var(--chalk_weight);
	font-size: 1.2vw;
}
.blog-content-list{
	font-weight: var(--chalk_weight);
	font-size: 1vw;
	border-left: 15px solid var(--post_line_color);
	padding-left: 15px;
}
.blog-title{
	font-weight: var(--chalk_weight);
	font-size: 2vw;
	margin-top: 0px;
}
.date{
	font-weight: var(--chalk_weight);
	font-size: 1em;
	font-weight: var(--chalk_weight);
	color: var(--date_color);
	margin-top: -10px;
	text-decoration: underline;
	text-decoration-color: currentColor;
}
.post-link{
	font-weight: var(--chalk_weight);
	color: var(--logo_text_color);
	font-style: underline;
	transition: all 0.4s;
}
.post-link:hover{
	font-weight: var(--chalk_weight);
	color: var(--art_text_hover);
	text-decoration: underline;
	text-decoration-color: currentColor;
	cursor: pointer;
}
