@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great');

:root {
	--chalk_font: 'Fredericka the Great';
    --text_color: #efefef;
    --art_text_hover: white;
    --post_line_color: #FFFFFF;
    --font_weight: 50;
}
body{
	margin: 0;
	padding: 0;
	line-height: 1.4em;
	background-image: url("../pictures/blogs/chalkboard.jpg");
	background-size:cover;
	color: var(--text_color);
	font-family: var(--chalk_font);
	font-weight: var(--chalk_weight);
}
/* Base Styles */
a{
	text-decoration: none;
	color: inherit;
}
/* Grid */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 0%;
}
.span_3_of_3 {
	width: 100%;
}
/* making this invisible basically */
.logo{
	text-align: center;
	color: var(--text_color);
  	font-size: 3.2vw;
	font-weight: var(--chalk_weight);
	font-family: var(--chalk_font);
  	padding: 90px;
}
/* Blog Posts */
.blog-post{
	font-weight: var(--chalk_weight);
	margin: 0 auto 1.5em auto;
}
.blog-title{
	font-weight: var(--chalk_weight);
	text-decoration: underline;
	font-size: 2vw;
	margin-top: 0px;
}
.blog-content{
	font-weight: var(--chalk_weight);
	font-size: 1.2vw;
}
.blog-content-list{
	font-weight: var(--chalk_weight);
	font-size: 1vw;
	border-left: 5px solid var(--post_line_color);
	padding-left: 15px;
}

.date{
	font-weight: var(--chalk_weight);
	font-size: 1em;
	color: var(--text_color);
	margin-top: -10px;
}
.post-link{
	font-weight: var(--chalk_weight);
	color: var(--text_color);
	text-decoration: underline overline;;
	transition: all 0.4s;
}
.post-link:hover {
   	animation-name: flash;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
}
@keyframes flash {
    from {color: var(--art_text_link);}
    to {color: black;}
}
/* search stuff */
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--text_color);
}
input {
	font-weight: var(--chalk_weight);
	color: var(--text_color);
	font: var(--chalk_font);
	float: right;
    width: 23%; /* Full-width */
    font-size: 1.6vw; /* Increase font-size */
    padding: 15px 15px 15px 15px; /* Add some padding */
    background: transparent;
    outline: dashed;
    margin-bottom: 20px; /* Add some space below the input */
}
